body {
    margin: 0;
    font-size: .7em;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background: url(https://bootstraptema.ru/images/bg/bg-1.png);
}

fieldset {
    padding: 0 15px 50px 15px;
}

h1 {
    font-size: 2.4em;
    margin: 0;
    color: #FFF;
}

h2 {
    font-size: 1.7em;
    margin: 0;
    color: #CC0000;
}

h3 {
    font-size: 1.2em;
    margin: 10px 0 0 0;
    color: #000000;
}

#header {
    margin: 0 0 0 0;
    padding: 6px 2% 6px 2%;
    font-family: "trebuchet MS", Verdana, sans-serif;
    color: #FFF;
    background-color: #555555;
}

#content {
    margin: 0 0 0 2%;
    position: relative;
}

.content-container {
    background: #FFF;
    width: 56%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    position: relative;
}