body {
    background: url(https://bootstraptema.ru/images/bg/bg-1.png)
}

.form-back {
    max-width: 550px;
    padding-left: 50px;
}

.plane {
    width: 650px;
    background: white;
    border-style: solid;
    border-color: #f2f2f2;
    border-width: 20px;
    margin-left: auto;
    margin-right: auto;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.phone-input {
    margin-bottom: 10px;
}

input.error {
    border: 2px solid red;
}

.error {
    color: red;
}

select,
.m8 {
    height: 34px;
}

.m6 {
    margin-left: 103px;
}

.m7 {
    margin-left: 87px;
}