body {
    background: url(https://bootstraptema.ru/images/bg/bg-1.png)
}

.round {
    border-radius: 100px;
    border: 3px solid white;
    box-shadow: 0 0 7px #666;
}

.table > tbody > tr > td {
    border: none;
    cellspacing: 100;
    cellpadding: 100;
    border-spacing: 7px;
}

.panel-back {
    max-width: 550px;
    padding-left: 50px;
    margin-left: 45%;
}

h2, h1, h4 {
    color: black;
    text-align: center;
}

.friends > tbody > tr > td {
    width: 25%;
    vertical-align: middle;
}

.friends-top {
    margin-top: 30px;
    padding-left: 42%;
}

.search {
    color: #b21f2d;
}

