body {
    background: url(https://bootstraptema.ru/images/bg/bg-1.png)
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    width: 5px;
    background: #f5f5f5;
}

::-webkit-scrollbar-thumb {
    width: 1em;
    background-color: #ddd;
    outline: 1px solid slategrey;
    border-radius: 1rem;
}

.text-small {
    font-size: 1.9rem;
}


.messages-box,
.chat-box {
    height: 510px;
    overflow-y: scroll;
    border: 2px solid #f5f5f5;
}

.rounded-lg {
    border-radius: 0.5rem;
}

input::placeholder {
    font-size: 0.9rem;
    color: #999;
}

.panel-body {
    padding: 25px 20px;
    border: 2px solid #ffffff;
    background-color: #fff;
}

.panel-default .panel-heading {
    background-color: #fff;
}