* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    padding: 10px;
    background: #f1f1f1;
}

/* Заголовок / Название Блога */
.header {
    padding: 30px;
    text-align: center;
    background: white;
}

.header h1 {
    font-size: 50px;
}

/* Стиль верхней панели навигации */
.topnav {
    overflow: hidden;
    background-color: #333;
}

/* Стиль верхних навигационных ссылок */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Изменение цвета при наведении */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}


/* Отзывчивый макет  -когда экран меньше, чем 800px широкий, сделать два столбца стека друг на друга, а не рядом друг с другом */
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
        width: 100%;
        padding: 0;
    }
}

/* Отзывчивый макет - когда экран меньше, чем 400px широкий, сделать навигационные ссылки стек поверх друг друга, а не рядом друг с другом */
@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}

#range4 .login-wr {
    position: relative;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.7);
    max-width: 270px;
    box-shadow: 3px 3px 10px #333;
    padding: 0 15px 0 15px;
}

#range4 .form {
    padding-top: 20px;
    text-align: center;
}

#range4 a {
    text-align: center;
    font-size: 12px;
    color: #eee;
}

#range4 p {
    padding-bottom: 10px;
}

#range4 *::-webkit-input-placeholder {
    color: #ccc;
}

#range4 *:-moz-placeholder {
    color: #ccc;
}

#range4 *::-moz-placeholder {
    color: #ccc;
}

#range4 *:-ms-input-placeholder {
    color: #ccc;
}

label {
    color: white;
    font-weight: bold;
    padding: 4px;
    text-transform: uppercase;
    font-size: xx-small;
}